.projects {
  background-color: #3c2a96 !important;
  text-align: center;
}
.heading-section h2 {
  font-size: 5rem !important;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  color: rgb(248, 244, 244);
}
.heading-section .h2:hover {
  cursor: pointer !important;
}
.heading-section .p {
  color: #f5f4f4;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.jumbotron{
  padding: 1rem 2rem !important;
  background-color: white !important;
}