@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");



/*  */

.h1 {
  padding-top: 15px;
  line-height: 25px;
  font-size: 50px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 800 !important;
  color: #4d3ba5;
}
/* ------ */
/* div container */
.text-zone {
  margin-top: 60px;
  position: relative;
  z-index: 1;
}
.gkFbTA {
  letter-spacing: 0.05em;
  line-height: 72px;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  display: inline-block;
  transition: all 0.3s linear 0s;
  cursor: pointer;
  color: whitesmoke;
}
.gkFbTA .letra {
  padding-right: 20px !important;
}
.gkFbTA:hover {
  color: #4d3ba5;
  animation: bounce 1s linear;
}

@media screen and (max-width: 600px) {
  .text-zone {
    left: 2rem !important;
  }

  .gkFbTA {
    font-size: 2.5rem;
  }
  .imgrosario {
    margin-left: 70px !important;
    width: 200px !important;
    height: 250px !important;
  }
  .contact {
    margin-left: 50px !important;
  }
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}

/* --------parrafito--------- */
.parrafito {
  font-family: "Poppins", sans-serif;
  color: beige;
  padding-top: 20px;
  padding: 20px;
  font-size: 20px !important;
  line-height: 22px;
  font-weight: 400;
}

/* -----------btn---------------- */

.contact:hover {
  background-color: #3c2a96 !important;
  color: antiquewhite !important;
}
.contact{
  border-color: #4d3ba5 !important;
  color: #4d3ba5 !important;
}
/* --------------fin btn----------- */
.pre {
  color: black;
}

.fin {
  color: black;
}



@media screen and (device-width: 375px) {
  .gkFbTA {
    font-size: 2rem !important;
  }
  .parrafito{
    padding-left: 40px !important;
  }
}
@media screen and (device-width: 320px) {
  .gkFbTA {
    font-size: 2rem !important;
  }
}
@media screen and (device-width: 540px) {
  .parrafito{
    margin-left: 40px !important;
    
  }
  .gkFbTA {
    font-size: 2rem !important;
  }
}

@media screen and (device-width: 414px) {
  .parrafito{
    margin-left: 40px !important;
  }
  .gkFbTA {
    font-size: 2rem !important;
  }
}

