.footer svg:nth-child(1) {
  transform: translateY(5px) !important;
  color: #3c2a96;
}
.footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.page-footer {
  background-color: #3c2a96 !important;
  color: aliceblue !important;
  font-size: 1.5rem;}

.footer a {
  text-decoration: none;
}
.btn-tw {
  color: rgb(106, 213, 255);
}
.btn-fb {
  color: blue;
}
.btn-li {
  color: rgb(18, 18, 151);
}
.container {
  padding: 0px;
}
