@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

body {
  background-color: #000000;
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin: 0% !important;
}
