@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

body {
  background-color: #000000;
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin: 1px !important;
  padding: 1px !important;
  line-height: 1.8;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100% !important;
    overflow-x: hidden !important;
  }
}
